<!-- project block -->

<div class="m-project--block" id="nav">

  <%= link_to '<div class="m-project s4 img-1"></div>', '/voxdotcom.html' %>
  <%= link_to '<div class="m-project s3 img-2"></div>', '/futureoftech.html' %>
  <%= link_to '<div class="m-project s1 img-3"></div>', '/nogirlsallowed.html' %>
  <%= link_to '<div class="m-project s1 img-4"></div>', '/miniot.html' %>
  <%= link_to '<div class="m-project s1 img-5"></div>', '/madscience.html' %>
  <%= link_to '<div class="m-project s2 img-6"></div>', '/infinitystool.html' %>
  <%= link_to '<div class="m-project s2 img-7"></div>', '/bidsphiladelphia.html' %>
  <%= link_to '<div class="m-project s1 img-8"></div>', '/watchdogs.html' %>
  <%= link_to '<div class="m-project s1 img-9"></div>', '/credballons.html' %>
  <%= link_to '<div class="m-project s1 img-10"></div>', '/philly.html' %>
  <%= link_to '<div class="m-project s3 img-11"></div>', '/simogo.html' %>
  <%= link_to '<div class="m-project s4 img-12"></div>', '/next30years.html' %>
  <%= link_to '<div class="m-project s1 img-13"></div>', '/ecstaticstates.html' %>
  <%= link_to '<div class="m-project s2 img-14"></div>', '/antichamber.html' %>
  <%= link_to '<div class="m-project s1 img-15"></div>', '/catchingthemall.html' %>
  <%= link_to '<div class="m-project s1 img-16"></div>', '/whatsnext.html' %>
  <%= link_to '<div class="m-project s3 img-17"></div>', '/historyofviolence.html' %>
  <%= link_to '<div class="m-project s4 img-18"></div>', '/fightingdirty.html' %>
  <%= link_to '<div class="m-project s1 img-19"></div>', '/theknow.html' %>
  <%= link_to '<div class="m-project s2 img-20"></div>', '/apogee.html' %>
  <%= link_to '<div class="m-project s1 img-21"></div>', '/droppedsmile.html' %>
  
</div>
<div class="m-project--footer">
  <hr />
    <div class="link--container">
      <%= link_to 'Twitter', 'https://twitter.com/mjsxi' %>
      <%= link_to 'Dribbble', 'https://dribbble.com/mjsxi' %>
      <%= link_to 'Github', 'https://github.com/mjsxi' %>
      <%= link_to 'Email', 'mailto:matt.sullivan@sbnation.com' %>
      <%= link_to 'Phone', 'tel:1-732-299-9602' %>
    </div>
  <hr />
</div>

<!-- end of project block -->