<!-- project block -->

<div class="m-project--block">

  <%= link_to '<div class="m-project s4 img-1"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s3 img-2"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-3"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-4"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-5"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s2 img-6"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s2 img-7"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-8"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-9"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s3 img-10"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-11"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s4 img-12"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-13"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s2 img-14"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-15"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-16"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s3 img-17"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s2 img-18"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-19"></div>', '/future.html' %>
  <%= link_to '<div class="m-project s1 img-20"></div>', '/future.html' %>
    
</div>

<!-- end of project block -->