---
title: Fighting Dirty
image: fighting.png
layout: project
p1: 
p2:
p3:
p4:
---
  
  <%= image_tag current_page.data.image %>
  <h1><%= current_page.data.title %></h1>
  <p><%= current_page.data.p1 %></p>
  <p><%= current_page.data.p2 %></p>
  <p><%= current_page.data.p3 %></p>
  <p><%= current_page.data.p4 %></p>