---
title: Matt Sullivan's Portfolio
layout: layout
description: Matt Sullivan's personal website. This is a portfolio of his collective design and development work across the web.
---

  <div class="m-project_head--container">
    <div id="gradient" class="m-project s1" style="background-color: #e76846;">
      <h2>Hi</h2>
    </div>
    <div class="m-project s3">
      <p>I’m Matt Sullivan; current designer/developer at <%= link_to 'Vox Media', 'http://www.voxmedia.com/' %>.</p>

      <p>I'm a learning junkie, always poking around to gain a new skill. I'm never happy just resting on what I know. I love to further myself both technically and educationally.</p>

      <p>Vox is a new media company that lets me satisfy my creative itch by inviting me to participate in a variety of design projects. Current <%= link_to 'Voxaholic', 'http://www.vox.com/' %>, former <%= link_to 'Polynaut', 'http://www.polygon.com/' %> and <%= link_to 'Verger', 'http://www.theverge.com/' %>.</p>

      <p>Want to work together? <%= link_to 'Email', 'mailto:matt.sullivan@sbnation.com' %> me.</p>
    </div>
  </div>