---
title: The Future of Technology
image: adult.png
layout: project
paragraph_one: Hello World. How are you. Im good, I love it when I talk like this. I wonder when this will stop working? Maybe this time it will? Nope not yet, how about now? Still nothing. I wonder what caused this to break last time? How long can I make this before it quites on me? Apparently that Was just a fluke, I wonder why its working now. OMG how long can I make this before the string is broken and what happened before happens again? Damn this has gotten pretty long I think it will just pass along this arguement no matter how much I type, thats cool Im happy to hear about that. shit this is long. I wonder how much more I can write. Not much Im guessing I am running out of ideas.
paragraph_two: Hello World. How are you. Im good, I love it when I talk like this. I wonder when this will stop working? Maybe this time it will? Nope not yet, how about now? Still nothing.
paragraph_three: Hello World. How are you. Im good, I love it when I talk like this. I wonder when this will stop working? Maybe this time it will? Nope not yet, how about now? Still nothing. I wonder what caused this to break last time? How long can I make this before it quites on me? Apparently that Was just a fluke, I wonder why its working now.
paragraph_four: Hello World. How are you. Im good, I love it when I talk like this. I wonder when this will stop working? Maybe this time it will? Nope not yet, how about now? Still nothing. I wonder what caused this to break last time? How long can I make this before it quites on me? Apparently that Was just a fluke, I wonder why its working now. OMG how long can I make this before the string is broken and what happened before happens again? Damn this has gotten pretty long I think it will just pass along this arguement no matter how much I type, thats cool Im happy to hear about that. shit this is long. I wonder how much more I can write. Not much Im guessing I am running out of ideas.
---
  
  <%= image_tag current_page.data.image %>
  <h1><%= current_page.data.title %></h1>
  <p><%= current_page.data.paragraph_one %></p>
  <p><%= current_page.data.paragraph_two %></p>
  <p><%= current_page.data.paragraph_three %></p>
  <p><%= current_page.data.paragraph_four %></p>